body {
  font-size: 14px;
  font-family: sans-serif;
}

.container{
  width: 1200px;
  border: none;
  margin:0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: right;
  padding: 8px;
  background-color: lightgrey;
}

td {
  text-align: right;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

div button {
  margin:auto;
  display:block;
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
