{%extends "layout.html" %}

{% block content%}
    <div style="height:500px; width:400px;margin: auto auto; background-color:POWDERBLUE;border-radius: 16px; text-align: left;">
      <center><h1 style="padding-top: 20px;">Add Applicant</h1></center>
        <div class="content-section">
            {% from "_formhelpers.html" import render_field %}
            <form method="post" action="">
                <dl style="padding-left: 90px;">
                    {{ render_field(form.last_name) }}
                    {{ render_field(form.first_name) }}
                    <!-- {{ render_field(form.phone_number) }} -->
                    <p></p>
                    <label for="phone_number">Phone Number</label>
                    <input type="tel" id="phone_number" name="phone_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    <small>Format: 123-456-7890</small>
                    <span class="validity"></span>
                    <p></p>
                    <!-- {{ render_field(form.email) }} -->
                    <p></p>
                    <label for="email">Email</label>
                    <input type="email" placeholder="XXX@XXX.com" name="email" required pattern=".+@.+.com">
                    <span class="validity"></span>
                    <p></p>
                    {{ render_field(form.street) }}
                    {{ render_field(form.city) }}
                    {{ render_field(form.zip_code) }}
                    {{ render_field(form.state) }}
                </dl>
                <center><div class = "form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div></center>
            </form>
        </div>
    </div>
    <center><table>
        <tr>
        <td>
        <div style="width: 350px; margin-top:25px; text-align: center; border:groove;background-color:chartreuse;border-radius: 16px;">
          <h2><a href={{url_for('viewDogDashBoard')}}>Go Back to Dog Dashboard</a></h2>
        </div>
        </td>
        </tr>
    </table></center>
{% endblock content%}
