<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='phase3.css') }}">
  </head>

  <body>
    <center><h1 style="color:Tomato;">New Dog Has Been Added Successfully!</h1></center>
    <div style="width: 370px; margin: 30 auto; text-align: center; border:groove; background-color: plum; border-radius: 16px;">
      <h1><a href="/viewDogDetails/{{dogID}}">Go Back to View Dog Details </a></h1>
    </div>
    <div style="width: 370px; margin: 30 auto; text-align: center; border:groove; background-color: lightgreen; border-radius: 16px;">
      <h1><a href={{url_for('viewDogDashBoard')}}>Go Back to Dog Dashboard</a></h1>
    </div>

  </body>
</html>

